
:root {
    ---padding-horizontal: 100px;
    --primary-color: blue;
    --secondary-color: green;
    --auxilliary-color: #FFEFF2;

}

body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    font-family: "poppins", sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    background-color: blue;
    padding-left: var(---padding-horizontal);
    padding-right: var(---padding-horizontal);
    padding-top: 10px;
    padding-bottom: 10px;

}

nav > div > h1 {
    color: blue;

}

div > h1 {
    color: black;
}

nav > div > a {
    padding-left: var(---padding-horizontal);
    padding-right: var(---padding-horizontal);
    align-items: center;
    text-decoration: none;
    height: 80vh;
    gap: 10px;
}

#homeSection > .homeSection {
    display: flex;
    align-items: center;
    gap: 40px;
}

#homeSection > img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1/1;
}

#homeSection > div > h1 {
    color: var(--primary-color);
    font-size: 64px;
}

#homeSection > div > p {
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 200;
    padding-top: 16px;
    padding-bottom: 16px;
}

#homeSection > div > button {
    all: unset;
    background-color: var(--primary-color);
    color: #fff;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 24px;
    font-size: 14px;
    border-radius: 100px;
    cursor: pointer;

}

#projectSection {
    padding-left: var(---padding-horizontal);
    padding-right: var(---padding-horizontal);
    margin-bottom: 40px;
    margin-top: 40px;

}

#projectSection > h1 {
    text-align: center;
    font-size: 48px;
    color: var(--primary-color);
}

#projectSection > p {


}

#homeSection > div > img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1/1;
}

#homeSection > .projectCards > .projectCard {
    height: 500px;
    width: 350px;
    border-radius: 30px;
    background-color: cyan;
}

#homeSection > .projectCards > .projectCard > img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1/1;
    align-content: center;
}

#homeSection > .projectCards {
    display: flex;
    gap: 40px;
    text-align: center;
}

#project {
    padding-right: var(---padding-horizontal);
    padding-left: var(---padding-horizontal);
    text-align: center;
}